.shoping-cart-header {
  display: flex;
  list-style-type: none;
}

.cart-item {
  width: 40%;
}

.cart-price {
  width: 15%;
}

.cart-quantity {
  width: 30%;
}

.cart-item-total {
  width: 15%;
}
.cart-col {
  border-bottom: 1px solid black;
  margin-right: 20px;
}
