* {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.products-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

article {
  box-shadow: 3px 3px 3px 3px grey;
  border-radius: 20px;
  border: 2px solid black;
}

.products-container article:hover {
  box-shadow: 0 0 20px black;
}

.image-container {
  position: relative;
  margin: 10px;
}

img {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.prev-btn {
  position: absolute;
  top: 50%;
  left: 10px;
  cursor: pointer;

  border: none;
  background-color: transparent;
  border-radius: 50%;

  padding: 5px;
  width: 40px;

  color: lightgray;
  font-size: 1.5rem;
}

.next-btn {
  position: absolute;
  top: 50%;
  right: 10px;

  cursor: pointer;

  border: none;
  background-color: transparent;
  border-radius: 50%;

  padding: 5px;
  width: 40px;

  color: lightgray;
  font-size: 1.5rem;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(230, 230, 230, 0.5);
}

.dot-container {
  display: flex;
  justify-content: center;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: lightgray;
  border-radius: 50%;
}

.active,
.dot:hover {
  background-color: gray;
}

.text-container {
  display: flex;
  flex-direction: column;

  height: 150px;

  align-items: center;
  margin: 10px;
}

.price-container,
.buy-container {
  display: flex;
  justify-content: space-around;

  margin: 10px;
}

p {
  text-align: center;
}

/*Alexandra*/

.buy-btn,
.add-btn {
  float: right;
  outline: 0;
  border: 0;
  cursor: pointer;
  margin: auto;
  /*background-color: #4299e1;*/
  border-radius: 8px;
  /*padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  /*color: white;
  line-height: 26px; */
}

/* .myModal {
  display: none;
  position: fixed; 
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 20%; 
  overflow: auto; 
  background-color: rgb(245, 241, 241); 

}  */

/* .modal-content {
    background-color: #ffffff;
    
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    height: 423px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
  }
   */
/* The Close Button */
/* .close-btn {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } */

/*test Alexandra*/

/*test nicu*/
.price {
  text-decoration: line-through;
}

.modalProduct {
  width: 50%;
  margin: auto;
  display: block;
  position: fixed;
  /* top: 50%;
  left: 50%; === vrem sa vedem ce se intampla daca  */
}


/*Custom cart button of the products item*/
#cart-button-container {
  display: flex;
  justify-content: center;
}

#cart-button {
  z-index: 3;
  height: 40px;
  width: 120px;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

/*Cart icon of navigation bar*/
.navbar {
  position: fixed;
  z-index: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgb(67, 119, 106);
  background: linear-gradient(360deg, rgba(67, 119, 106, 1) 0%, rgba(43, 104, 94, 1) 35%, rgba(0, 249, 255, 1) 100%);
}

#cart-nav-icon-container {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  margin: 0;
  cursor: pointer;
}

#cart-nav-icon {
  z-index: 1;
  position: fixed;
  height: auto;
  width: 40px;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.dot-notification {
  visibility: none;
  top: 8px;
  left: 15px;
  z-index: 2;
  position: absolute;
  margin-right: 250px;
  z-index: 4;
  border: solid 1px;
  background-color: red;
  border-radius: 50%;
}

/* Style cart window */

.cart-window-container {
  z-index: 5;
  border: solid lightgray 1px;
  border-top: none;
  position: fixed;
  top: 12vh;
  background-color: #fff;
  margin-right: 2%;
  right: 0px;
  top: 70px;
}

.cart-window-container h2 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(131, 131, 131, 1) 39%, rgba(188, 188, 188, 1) 59%, rgba(255, 255, 255, 1) 100%);
  padding: 5px;
}

.hide {
  display: none;
}

.cart-wrapper {
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  max-height: 350px;
  width: 24vw;
}

.cart-wrapper::-webkit-scrollbar {
  display: none;
}

.cart-wrapper-img {
  display: flex;
  width: 100%;
  height: 100%;
}

[class*="cart-li-"] {
  display: grid;
  grid-template-columns: 3fr 4fr 2fr;
  padding: 5% 2%;
  align-items: center;
}

.item-cart-title {
  padding-left: 20px;
  margin-left: 0;
  font-size: 15px;
}

.item-cart-price {
  font-family: "Source Sans Pro", sans-serif;
  font-size: larger;
  padding: 5px;
  margin-right: 0;
}

.box-price-quantity {
  display: flex;
  flex-direction: column;
}

.quantity {
  padding: 5px;
  display: flex;
  align-items: center;
  margin-right: 0;
}

.button-minus,
.button-plus {
  width: 25px;
  height: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  border-radius: 25%;
  border-width: 1px;
}

.button-plus:hover {
  background-color: rgb(181, 1, 1);
  color: #c8c7c7;
}

.button-minus:hover {
  background-color: rgb(181, 1, 1);
  color: #c8c7c7;
}

.countOfProduct {
  font-family: "Source Sans Pro", sans-serif;
  padding: 5px;
  font-size: 20px;
}

.total {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  text-align: right;
  padding: 5%;
}

.checkout,
.view-cart {
  font-family: "Source Sans Pro", sans-serif;
  width: 100px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(40, 37, 37);
  font-size: large;
  color: #fff;
  margin: 10px auto;
  padding: 10px 15px;
}
.view-cart {
  background-color: #fff;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.view-cart:hover {
  box-shadow: 0 0 20px black;
}

.checkout:hover {
  box-shadow: 0 0 20px black;
}

/* task 10- Toni */

/* .modal-details {
display: none;
} */
.product-details {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
}
.product-details p:nth-child(2) {
  display: inline;
}
.product-details  p:nth-child(3) {
  display:inline;
  background-color: rgb(14, 14, 217);
  padding: 1px 1px;
  border-radius: 0px 0.5rem 0px 0.5rem;
  color:whitesmoke;
  margin-left: 3px;
  font-size: 12px;
}
.product-details  p:nth-child(4){
color: red;
font-size: 17px;
}

.open-button {
  margin-top: 30px;
}

.modal-details {
  background-color: cadetblue;
  color: whitesmoke;
  border: 2px solid black;
  border-radius: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

.close-button {
  margin-left: 3px;
  margin-bottom: 3px;
  border-radius: 7px;
  border: 2px solid black;
}

/* task 10 done.  */