h1 {
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

article {
  box-shadow: 3px 3px 3px 3px grey;
  border-radius: 20px;
}

.products-container article:hover {
  box-shadow: 0 0 20px black; 
  }  

.image-container {
  position: relative;
  margin: 10px;
}

img {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.prev-btn {
  position: absolute;
  top: 50%;
  left: 10px;

  border: none;
  background-color: transparent;
  border-radius: 50%;

  padding: 5px;
  width: 40px;

  color: lightgray;
  font-size: 1.5rem;
}

.next-btn {
  position: absolute;
  top: 50%;
  right: 10px;

  border: none;
  background-color: transparent;
  border-radius: 50%;

  padding: 5px;
  width: 40px;

  color: lightgray;
  font-size: 1.5rem;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(230, 230, 230, 0.5);
}

.text-container {
  display: flex;
  flex-direction: column;

  height: 150px;

  align-items: center;
  margin: 10px;
}

.price-container, .buy-container {
  display: flex;
  justify-content: space-around;

  margin: 10px;
}

p {
  text-align: center;
}
.buy-btn, .add-btn{
  
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;

}

.myModal {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 20%; 
  overflow: auto; 
  background-color: rgb(245, 241, 241); 
  /*background-color: rgba(0,0,0,0.4); */
}

  .modal-content {
    background-color: #ffffff;
    
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 423px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
  }
  
  /* The Close Button */
  .close-btn {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/*test Alexandra*/


/*test nicu*/
