main {
  height: 90vh;
}

.product-title {
  text-align: center;
}

.image-section-container {
  display: flex;
  justify-content: center;
}

.image-container {
  width: 40%;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: space-around;

  margin-top: 40px;
}
